.logout {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: #0ad8ce;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
}
.user {
  height: 30px;
  width: 100px;
  background: #e6f1f1;
  text-align: center;
  border-radius: 8px;
  color: #ce2727;
  font-weight: 900;
}
.profile {
  cursor: pointer;
  font-weight: 600;
  height: 30px;
  text-align: center;
  width: 100px;
  background-color: #0ad8ce;
  color: #ffffff;
  border-radius: 8px;
}

.header {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#photo {
  position: relative;
  top: 30px;
  width: 90px;
  height: auto;
  border-radius: 100px;
}
