.logout {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: #c70000;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.user {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  line-height: 30px;
  background: #00c72b;
  text-align: center;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
}
