.linkToSign {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  line-height: 40px;
  background: #0ad8ce;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.button {
  cursor: pointer;
  width: 70vw;
  max-width: 180px;
  line-height: 40px;
  background: #4d2072;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 15px;
  margin: 5px;
}

.profilePhoto {
  position: absolute;
  bottom: 10px;
  left: 25vw;
}
