.wrap {
  width: 100%;
  height: 100vh;
}

.container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 20px;
}

.group {
  min-width: 320px;
  border-radius: 12px;
  overflow: hidden;
}

.input {
  background: rgb(48, 43, 43);
  width: 100%;
  line-height: 40px;
  color: #fff;
  text-indent: 20px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  width: 100%;
  line-height: 40px;
  background: #0750a3;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
}
.copyright {
  position: absolute;
  bottom: 0;
}
.login {
  cursor: pointer;
  background: #57ac08;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  min-width: 320px;
  border-radius: 12px;
  height: 48px;
  margin-top: 10px;
}

.photo {
  display: flex;
  justify-content: start;
}
