.button {
  cursor: pointer;
  width: 80vw;
  max-width: 280px;
  line-height: 40px;
  background: #307220;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 15px;
  margin: 5px;
}
.heading {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
